# Python & PyCharm files
.coverage
.directory
.idea
__pycache__
venv

# Zsh themes
powerlevel10k

# Zsh plugins
zsh-autocomplete
zsh-autosuggestions
zsh-syntax-highlighting

# Misc
*.ab
*.bak
*.bin
*.bk
*.jar
*.ps2
*.tar
*.tar.gz
*.tgz
*.zip
android/platform-tools
android/platform-tools-latest-linux.zip
crypto/nanominer-linux-*
crypto/PhoenixMiner_*
crypto/teamredminer-v*
drivers/backup
ethminer
ethminer.txt
ethminer_config.sh
geant4.*
Geekbench-*
honeygain/honeygain.env
id_rsa*
keys
LHAPDF*
logs
modem-pin.txt
obs-studio/basic/profiles/**/service.json
obs-studio/plugin_config/rtmp-services
obs-studio/plugin_config/StreamFX/config.json
obs-studio/plugins
obs-studio/profiler_data
physics/csc/config.sh
physics/kale/config.sh
pythia8*
xournalpp/autosave
xournalpp/errorlogs
xournalpp/metadata
