# Python & PyCharm files
.coverage
.directory
.idea
__pycache__
venv

# Zsh themes
powerlevel10k

# Zsh plugins
zsh-autocomplete
zsh-autosuggestions
zsh-syntax-highlighting

# Misc
*.tar.gz
*.tgz
crypto/nanominer-linux-*
ethminer
ethminer.txt
ethminer_config.sh
Geekbench-*
id_rsa*
keys
LHAPDF*
logs
modem-pin.txt
pythia8*
xournalpp/autosave
xournalpp/errorlogs
xournalpp/metadata
