# Python & PyCharm files
.coverage
.directory
.idea
__pycache__
venv

# Zsh themes
powerlevel10k

# Zsh plugins
zsh-autocomplete
zsh-autosuggestions
zsh-syntax-highlighting

# Misc
*.tar.gz
crypto/nanominer-linux-*
ethminer
ethminer.txt
ethminer_config.sh
Geekbench-*
id_rsa*
keys
logs
modem-pin.txt
xournalpp/autosave
xournalpp/errorlogs
xournalpp/metadata
