# Python-ADB may require the following to work:
# sudo apt-get install gcc libssl-dev python3-dev swig
adb >= 1.3.0

chkcrontab >= 1.7

exif >= 1.3.5

# gplaycli >= 3.29
gplaydl >= 1.3.5

# For Wacom script
# Despite the warning from FOSSA, python-xlib is licensed with LGPLv2+
# https://github.com/python-xlib/python-xlib
# https://pypi.org/project/python-xlib/
python-xlib >= 0.29

# This version is kept back by gplaydl
requests >= 2.23.0

# For LibreNMS log spam cleaner
# This version is kept back by requests
slack-cleaner2 >= 3.0.0
