#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=SCRIPT_DIR/agx-user-startup.sh
Icon=dialog-scripts
Name=agx-user-startup.sh
Path=
Type=Application
X-KDE-AutostartScript=true
