[Unit]
Description=iperf server
After=syslog.target network.target auditd.service

[Service]
Type=simple
Restart=always
DynamicUser=yes
ExecStart=/usr/bin/iperf -s

[Install]
WantedBy=multi-user.target
